.blog{
    display: flex;
    justify-content: center;

h1{
    font-size: 100px;
    font-family: manrope;
    margin-top: 20px;
}
}

.blogcont{
    display: flex;
    justify-content: center;
    
    .blogtext{
        width: 1000px;
        font-family: manrope;
    }
}