.prod{
    display: flex;
    justify-content: center;

h1{
    font-size: 100px;
    font-family: manrope;
    margin-top: 20px;
}
}

.products{
    display: flex;
    justify-content: center;

.prodcont{
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: space-between;

.prodimg1{
    width: 270px;
    height: 400px;
    background-image: url(../images/vacation1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.prodimg2{
    width: 270px;
    height: 400px;
    background-image: url(../images/vacation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.prodimg3{
    width: 270px;
    height: 400px;
    background-image: url(../images/vacation3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
}
}